services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: 
      context: .
      dockerfile: containers/api/Dockerfile
    environment:
      DATABASE_URL: ${DOCKER_DATABASE_URL}
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    command: >
      sh -c "
        npx node-pg-migrate up &&
        node dist/main
      "
  app:
    build:
      context: .
      dockerfile: containers/app/Dockerfile
    ports:
      - "5173:5173"
    depends_on:
      - api
    command: npm run dev

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - api  


volumes:
  postgres_data: